* {
  padding: 0;
  margin: 0;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
}

html,
body {
  width: 100%;
  height 100%;
}

header {
  margin-bottom: 25px;
}

header h1 {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

h1 {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

#map {
  display: block;
  width: 320px;
  height: 320px;
  margin: auto;
}

#players {
  float: left;
  min-width: 200px;
  margin-left: 20px;
}

#player1 {
  width: 100%;
  text-align: center;
  border: 1px solid #000;
  color: #fff;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: dodgerblue;
}

#player2 {
  width: 100%;
  text-align: center;
  border: 1px solid #000;
  color: #fff;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: crimson;
}

#infos {
  clear: both;
  width: 320px;
  margin: auto;
  margin-top: 10px;
}

#attack {
  margin-left: 15px;
  margin-top: 0px;
  width: 80px;
  height: 80px;
  background: url(../images/attack.png);
  background-size: 100%;
  opacity: 0.4;
}

#defend {
  margin-left: 5px;
  width: 80px;
  height: 80px;
  background: url(../images/defend.png);
  background-size: 100%;
  opacity: 0.4;
}

#form {
  width: 100%;
  margin: auto
}

label,
select {
  display: inline-block;
}

label {
  width: 175px;
  height: 20px;
  margin-left: 40px;
  line-height: 20px;
}

select {
  width: 60px;
  height: 20px;
}

#newgame {
  display: block;
  width: 70%;
  height: 30px;
  margin: auto;
  margin-top: 10px;
}

.square {
  background-color: white;
  border: 1px solid grey;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
}

.clearer {
  clear: both;
}

.blocked {
  background-size: 100%;
  background-image: url(../images/mur.png);
}

.player1 {
  background-size: 100%;
  background-image: url(../images/player1.png);
}

.player2 {
  background-size: 100%;
  background-image: url(../images/player2.png);
}

.dague {
  background-size: 100%;
  background-image: url(../images/dague.png);
}

.sword {
  background-size: 100%;
  background-image: url(../images/sword.png);
}

.double {
  background-size: 100%;
  background-image: url(../images/double_sword.png);
}

.laser {
  background-size: 100%;
  background-image: url(../images/laser.png);
}

.move1 {
  background-color: dodgerblue;
}

.move2 {
  background-color: crimson;
}